@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../../static/iconfont/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(../../static/iconfont/MaterialIcons-Regular.woff2)
    format('woff2'),
    url(../../static/iconfont/MaterialIcons-Regular.woff)
    format('woff'), url(../../static/iconfont/MaterialIcons-Regular.ttf)
    format('truetype');
  }
  
  html{
    overflow-x: hidden;
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background-image: url("/imagenes/fondo.jpeg");
    background-position: center;
    background-size: cover;
}


header{
	display: flex;	
}
.logo{
	width: auto;
	cursor: pointer;
	height: 80px;
}
.button{
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	display: flex;
	text-decoration: none;
}

.button:hover{
	background-color: rgba(0, 136, 169, 0.8);
}

.buttonsmain{
	padding: 20px 30px 0px 30px;
	display: flex;
	align-content: center;
	justify-content: center;
}

.social-networks{
	padding: 10px 30px 10px 10px;
	text-align: right;
	color: white;
}
.footer{
	background-color: white;
	background: linear-gradient(to bottom, purple, white);
	align-self: flex-end;
	padding: 1em 0;
	text-align: center;
}
.aling{
	display: flex;
	align-items: center;
}